* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    margin: 0 auto;
}
.container-book-tickets {
  
    border: 1px solid red;
}
.book-ticket-btn {
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.book-ticket-btn button{
    width: 15px;
    margin: 5px;
}
